/* Vanaf hier SMALL screens en groter */

/* Wat standaard margins en paddings voor de Main section. */
main {
    padding: 0;
    margin: 0;
}

/* Alle gebruikte Fonts. */
.questrial {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.raleway-heavy {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* De verschillende font-sizes die ik gebruikt heb. */
.fs-7 {
    font-size: 10px;
}

.fs-8 {
    font-size: 11px;
}

.fs-9 {
    font-size: 13px;
}

.fs-10 {
    font-size: 14px;
}

.fs-11 {
    font-size: 16px;
}

.fs-12 {
    font-size: 18px;
}

.fs-13 {
    font-size: 30px;
}

/* Wat standaardkleuren voor achtergrond en tekst. */

.backgroundColor1 {
    background-color: #b8cd06 !important;
}

.backgroundColor2 {
    background-color: #343434 !important;
}

.textColor1 {
    color: #b8cd06 !important;
}

/* AFZONDERLIJKE INSTELLINGEN */

/* Standaardwaarden voor p-tags in de header, en h2 tags op de pagina. */
header p {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 700;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

/* Styling voor bepaalde knoppen op de pagina. */
.normalButton {
    background: #b8cd06;
    color: white;
}

.normalButton:hover {
    background: white;
    color: #b8cd06;
    box-shadow: 0 0 10px 5px rgba(184, 205, 7, 0.5);
}

.blackButton {
    background: black;
    color: white;
}

.blackButton:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.whiteButton {
    background: white;
    color: #888888;
}

.whiteButton:hover {
    background: #b8cd06;
    color: white;
}

/* Positie voor de badges bij de winkelmand apart aanmaken. */
.badgePosition {
    background: #b8cd06;
    top: 10px;
    left: 30px;
}

/* Afzonderlijke instellingen voor de filter accordion elementen. */
#accordion1 a, #accordion2 a {
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.accordion-button {
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    padding-left: 0;
    padding-right: 0;
}

/* Navbar laten meescrollen, met extra instellingen voor soepelheid en netheid. */
#mainHeader.scrolled {
    margin-bottom: 110px;
}

.navbar {
    position: relative;
    width: 100%;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.navbar.scrolled{
    position: fixed;
    z-index: 5;
    top: 0;
}

.navBarList .nav-item .list-group-item {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
}

.navBarList .nav-item .active {
    background-color: #b8cd06;
    color: white;
    border: none;
}

.navBarList .nav-item .list-group-item:hover {
    background-color: #b8cd06;
    color: white;
}

/* Een class voor een groene kleureffect, vaak gebruikt op afzonderlijke tekstelementen met links. */
.hoverItem:hover {
    color: #b8cd06 !important;
    transition: color 0.3s ease;
}

/* Extra instellingen voor formulieren. */
.form-check-label {
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.form-check-input:hover {
    cursor: pointer;
}

/* Instellingen voor de 'tag' knopjes op de pagina. */
.tag {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    background: #eeeeee;
    border: none;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.tag:hover {
    background: #b8cd06
}

.tag2 {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    color: lightgray;
    background: #424242;
    border: none;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.tag2:hover {
    background: #b8cd06;
}

/* Styling voor de ronde knopjes op de carousel. */
.carouselButton {
    height: 15px !important;
    width: 15px !important;
    border: 10px white !important;
    margin-bottom: 25px;
}

.carouselButton.active {
    background-color: #b8cd06 !important;
}

.carousel-caption {
    position: absolute;
    height: 250px;
    left: 550px;
}


/* Extra instellingen voor de cards met de producten erin, met een overlay erop die alles vervaagt en knopjes naar de voorgrond brengt. */
.card-body {
    border-color: rgba(0,0,0,0.04);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, filter 0.3s;
    z-index: 1;
}

.cardButtonsLarge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

.cardButtonSmall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-body{
    filter: blur(2px);
    transform: scale(1.03);
}

.card:hover .cardButtonsLarge {
    opacity: 1;
}

.card:hover .cardButtonSmall {
    opacity: 1;
}

.cardCategoryTitle {
    font-family: "Questrial", sans-serif;
    color: #b8cd06;
    font-size: 11px;
}

/* Instellingen voor het email inputveld. */
#emailInput {
    width: 120px;
}

#emailInput:focus {
    border-color: transparent !important;
    outline: transparent;
}

#emailInput::placeholder {
    color: white;
}

#emailButton:hover {
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s;
}

/* MEDIA QUERIES*/
/* Deze instellingen enkel gebruiken op grote schermen van 992+ pixels. */
@media (min-width: 992px) {
    /* Het email inputveld krijgt andere afmetingen op grotere schermen, voor een betere weergave. */
    #emailInput {
        width: 200px;
        height: 50px;
    }
}